.header-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}

@media screen and (max-width: 375px) {
  .header-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 375px;
    height: 50px;
  }
}

@media screen and (min-width: 376px) and (max-width: 891px) {
  .header-container {
    width: 375px;
  }
}

@media screen and (min-width: 892px) {
  .header-container {
    width: 892px;
  }
}

@media screen and (min-width: 1072px) {
  .header-container {
    width: 1072px;
  }
}

.menu-button {
  display: none;
}

@media screen and (max-width: 375px) {
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    background-color: #fff;
    margin-left: auto;
  }
  .menu-button:hover .menu-button__icon, .menu-button:focus .menu-button__icon {
    fill: #ff6464;
  }
}

.menu-button__icon {
  -webkit-transition: fill 250ms ease;
  transition: fill 250ms ease;
  fill: #000;
}

@media screen and (max-width: 375px) {
  .site-nav {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    right: 30px;
  }
}

@media screen and (max-width: 375px) {
  .site-nav.menu-opened {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 1;
    visibility: visible;
    -webkit-transition: -webkit-transform 2500ms ease;
    transition: -webkit-transform 2500ms ease;
    transition: transform 2500ms ease;
    transition: transform 2500ms ease, -webkit-transform 2500ms ease;
  }
}

.site-nav__list {
  list-style: none;
}

@media screen and (max-width: 375px) {
  .site-nav__list {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    text-align: end;
    background-color: #fff;
  }
}

@media screen and (min-width: 376px) {
  .site-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 236px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

.site-nav__link {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 375px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 376px) {
  .site-nav__item:not(:last-child) {
    margin-right: 33px;
  }
  .site-nav__link {
    display: inline-block;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.45;
    -webkit-transition: color 250ms ease;
    transition: color 250ms ease;
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #ff6464;
  }
}

@media screen and (max-width: 891px) {
  .hero-container {
    padding-top: 33px;
    padding-bottom: 58px;
    text-align: center;
  }
}

@media screen and (min-width: 892px) {
  .hero-container {
    padding-top: 127px;
    padding-bottom: 71px;
  }
}

.page-title {
  margin-bottom: 0;
  font-weight: 700;
}

@media screen and (max-width: 891px) {
  .page-title {
    margin-top: 40px;
    font-size: 32px;
    line-height: 1.25;
    max-width: 312px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 892px) {
  .page-title {
    margin-top: 18px;
    max-width: 506px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__description {
  margin-bottom: 0;
  font-size: 16px;
}

@media screen and (max-width: 891px) {
  .hero__description {
    margin-top: 21px;
    line-height: 1.47;
    max-width: 328px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 892px) {
  .hero__description {
    line-height: 1.44;
    margin-top: 40px;
    width: 497px;
  }
}

.hero__btn {
  border-radius: 2px;
  border: none;
  background-color: #ff6464;
  color: #fff;
  padding: 17px 21px 17px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
}

@media screen and (max-width: 891px) {
  .hero__btn {
    margin-top: 27px;
  }
}

@media screen and (min-width: 892px) {
  .hero__btn {
    margin-top: 38px;
  }
}

.hero-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 891px) {
  .hero-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media screen and (min-width: 892px) {
  .hero-box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero-box .picture-box {
  border: 1px solid black;
  border-radius: 50%;
}

@media screen and (max-width: 891px) {
  .hero-box .picture-box {
    width: 174px;
    height: 174px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 892px) {
  .hero-box .picture-box {
    width: 243px;
    height: 243px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 376px) and (max-width: 891px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 892px) {
  .container {
    width: 892px;
  }
}

.section-title {
  color: #21243d;
  font-weight: 400;
}

@media screen and (max-width: 891px) {
  .section-title {
    font-size: 18px;
    line-height: 3.33;
    text-align: center;
  }
}

@media screen and (min-width: 892px) {
  .section-title {
    font-size: 22px;
    line-height: 2.73;
    margin: 0;
  }
}

.recent {
  background-color: #edf7fa;
}

@media screen and (max-width: 891px) {
  .recent {
    padding-bottom: 38px;
  }
}

@media screen and (min-width: 892px) {
  .recent {
    padding-bottom: 32px;
  }
  .recent .text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 891px) {
  .recent-link {
    display: none;
  }
}

@media screen and (min-width: 892px) {
  .recent-link {
    color: #00a8cc;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.44;
  }
}

.posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 892px) {
  .posts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.post {
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
}

@media screen and (max-width: 891px) {
  .post {
    max-width: 339px;
    padding: 12px 20px 20px 20px;
  }
  .post:not(:last-child) {
    margin-bottom: 17px;
  }
}

@media screen and (min-width: 892px) {
  .post {
    width: 418px;
    padding: 24px 22px 35px;
  }
}

.post-title {
  font-weight: 700;
  margin-top: 0;
}

@media screen and (max-width: 891px) {
  .post-title {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 892px) {
  .post-title {
    font-size: 26px;
    line-height: 1.46;
    margin-bottom: 17px;
  }
}

.post-date,
.post-theme {
  display: inline-block;
  line-height: 1.44;
  margin: 0;
}

@media screen and (max-width: 891px) {
  .post-date,
  .post-theme {
    font-size: 16px;
  }
}

@media screen and (min-width: 892px) {
  .post-date,
  .post-theme {
    font-size: 18px;
  }
}

.post-date {
  border-right: 1px solid #000;
}

@media screen and (max-width: 891px) {
  .post-date {
    padding-right: 19px;
  }
}

@media screen and (min-width: 892px) {
  .post-date {
    padding-right: 23px;
  }
}

@media screen and (max-width: 891px) {
  .post-theme {
    padding-left: 15px;
  }
}

@media screen and (min-width: 892px) {
  .post-theme {
    padding-left: 20px;
  }
}

.post-text {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.44;
}

@media screen and (max-width: 891px) {
  .post-text {
    margin-top: 19px;
  }
}

@media screen and (min-width: 892px) {
  .post-text {
    margin-top: 11px;
  }
}

.post-date--long {
  padding-right: 5px;
}

.post-theme--long {
  padding-left: 1px;
}

@media screen and (max-width: 891px) {
  .works {
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 892px) {
  .works {
    padding-top: 15px;
    padding-bottom: 115px;
  }
}

.works-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 891px) {
  .works-list {
    margin-top: 0;
  }
}

@media screen and (min-width: 892px) {
  .works-list {
    margin-top: 22px;
  }
}

.work {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 16px;
}

@media screen and (max-width: 891px) {
  .work {
    max-width: 339px;
  }
  .work:not(:first-child) {
    display: none;
  }
}

@media screen and (min-width: 892px) {
  .work:not(:last-child) {
    margin-bottom: 33px;
  }
}

@media screen and (min-width: 892px) {
  .work-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work-content .picture-box {
  border: 1px solid black;
}

@media screen and (max-width: 891px) {
  .work-content .picture-box {
    max-width: 339px;
    height: 230px;
  }
}

@media screen and (min-width: 892px) {
  .work-content .picture-box {
    width: 246px;
    height: 180px;
    margin-right: 18px;
  }
}

.work-title {
  font-weight: 700;
  margin-bottom: 16px;
}

@media screen and (max-width: 891px) {
  .work-title {
    margin-top: 17px;
    font-size: 24px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 892px) {
  .work-title {
    font-size: 30px;
    line-height: 1.47;
    margin-top: 0;
  }
}

.work-year {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 62px;
  height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #142850;
  color: #fff;
  border-radius: 16px;
  font-weight: 900;
}

@media screen and (max-width: 891px) {
  .work-year {
    font-size: 16px;
    margin-right: 22px;
  }
}

@media screen and (min-width: 892px) {
  .work-year {
    margin-right: 26px;
    font-size: 18px;
  }
}

.work-theme {
  display: inline-block;
  color: #8695a4;
  margin: 0;
}

@media screen and (max-width: 891px) {
  .work-theme {
    font-size: 16px;
    line-height: 1.44;
  }
}

@media screen and (min-width: 892px) {
  .work-theme {
    font-size: 20px;
    line-height: 1.45;
  }
}

.work-description {
  color: #21243d;
  margin-bottom: 0;
}

@media screen {
  .work-description {
    font-size: 16px;
    line-height: 23px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 892px) {
  .work-description {
    width: 594px;
    font-size: 16px;
    line-height: 1.44;
    margin-top: 17px;
  }
}

.page-footer {
  padding-top: 51px;
  padding-bottom: 54px;
}

.socmedia-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 232px;
}

.socmedia-item {
  width: 30px;
  height: 30px;
}

.copyright {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

.icon-socmedia {
  fill: #21243d;
  -webkit-transition: fill 250ms ease;
  transition: fill 250ms ease;
}

.socmedia-link {
  display: inline-block;
}

.socmedia-link:hover .icon-socmedia, .socmedia-link:focus .icon-socmedia {
  fill: #ff6464;
}

body {
  font-family: Heebo, sansserif;
  color: #21243d;
}
/*# sourceMappingURL=main.css.map */