.header-container {
  max-width: 1036px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 27px;
  padding-bottom: 27px;
}

.site-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 236px;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.site-nav__item:not(:last-child) {
  margin-right: 33px;
}

.site-nav__link {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
}

.hero-container {
  padding-top: 127px;
  padding-bottom: 71px;
}

.page-title {
  margin-top: 18px;
  margin-bottom: 0;
  width: 506px;
  color: #21243d;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.36;
}

.hero__description {
  color: #21243d;
  font-size: 16px;
  line-height: 1.44;
  margin-top: 40px;
  margin-bottom: 0;
  width: 497px;
}

.hero__btn {
  margin-top: 38px;
  padding: 17px 21px 17px 20px;
  background-color: #ff6464;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  border-radius: 2px;
  border: none;
}

.hero-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-box .picture-box {
  width: 243px;
  height: 243px;
  border: 1px solid black;
  border-radius: 50%;
}

.container {
  width: 856px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  color: #21243d;
  font-weight: 400;
  font-size: 22px;
  line-height: 2.73;
  margin: 0;
}

.recent {
  background-color: #edf7fa;
  padding-bottom: 32px;
}

.recent .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-link {
  color: #00a8cc;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.44;
}

.posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post {
  width: 418px;
  padding: 24px 22px 35px;
  background: #fff;
}

.post-title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.46;
  margin-top: 0;
  margin-bottom: 17px;
}

.post-date,
.post-theme {
  display: inline-block;
  font-size: 18px;
  line-height: 1.44;
  color: #21243d;
  margin: 0;
}

.post-date {
  padding-right: 23px;
  border-right: 1px solid #000;
}

.post-theme {
  padding-left: 23px;
}

.post-text {
  margin-top: 11px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.44;
  color: #21243d;
}

.works {
  padding-top: 15px;
  padding-bottom: 115px;
}

.works-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: 22px;
}

.work-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-content .picture-box {
  width: 246px;
  height: 180px;
  margin-right: 18px;
  border: 1px solid black;
}

.work-title {
  color: #21243d;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.47;
  margin-top: 0;
  margin-bottom: 16px;
}

.work-year {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 62px;
  height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  background-color: #142850;
  color: #fff;
  border-radius: 16px;
  font-weight: 900;
  font-size: 18px;
}

.work-theme {
  display: inline-block;
  color: #8695a4;
  font-size: 20px;
  line-height: 1.45;
  margin: 0;
}

.work-description {
  width: 594px;
  color: #21243d;
  font-size: 16px;
  line-height: 1.44;
  margin-top: 17px;
  margin-bottom: 0;
}

.work {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}

.work:not(:last-child) {
  margin-bottom: 33px;
}

.page-footer {
  padding-top: 51px;
  padding-bottom: 54px;
}

.socmedia-list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 232px;
}

.socmedia-item {
  width: 30px;
  height: 30px;
  outline: 1px solid black;
}

.copyright {
  color: #21243d;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin: 0;
}

body {
  font-family: Heebo, sansserif;
}
/*# sourceMappingURL=main.css.map */