$container-width: 856px;
$header-container-width: 1036px;
$page-title-color: #21243d;
$hero-btn-color: #ff6464;
$black-color: #000;
$white-color: #fff;
$section-bgc: #edf7fa;
$link-color: #00a8cc;
$year-bgc: #142850;
$light-text-color: #8695a4;
