$container-width: 892px;
$header-container-width: 1072px;
$mobile-container-width: 375px;
$from-mobile-container-width: 376px;
$to-desctop-container-width: 891px;
$page-title-color: #21243d;
$accented-color: #ff6464;
$black-color: #000;
$white-color: #fff;
$section-bgc: #edf7fa;
$link-color: #00a8cc;
$year-bgc: #142850;
$light-text-color: #8695a4;
