.hero-container {
  @media screen and(max-width: $to-desctop-container-width) {
    // max-width: $mobile-container-width;
    padding-top: 33px;
    padding-bottom: 58px;

    text-align: center;
  }
  @media screen and(min-width: $container-width) {
    padding-top: 127px;
    padding-bottom: 71px;
  }
}
.page-title {
  margin-bottom: 0;
  font-weight: 700;

  @media screen and(max-width: $to-desctop-container-width) {
    margin-top: 40px;

    font-size: 32px;
    line-height: 1.25;

    max-width: 312px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and(min-width: $container-width) {
    margin-top: 18px;

    max-width: 506px;

    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__description {
  margin-bottom: 0;
  font-size: 16px;

  @media screen and(max-width: $to-desctop-container-width) {
    margin-top: 21px;
    line-height: 1.47;
    max-width: 328px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and(min-width: $container-width) {
    line-height: 1.44;

    margin-top: 40px;

    width: 497px;
  }
}
.hero__btn {
  border-radius: 2px;
  border: none;
  background-color: $accented-color;
  color: $white-color;
  padding: 17px 21px 17px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;

  @media screen and(max-width: $to-desctop-container-width) {
    margin-top: 27px;
  }
  @media screen and(min-width: $container-width) {
    margin-top: 38px;
  }
}
.hero-box {
  display: flex;
  @media screen and(max-width: $to-desctop-container-width) {
    flex-direction: column-reverse;
  }
  @media screen and(min-width: $container-width) {
    justify-content: space-between;
  }

  .picture-box {
    border: 1px solid black;
    border-radius: 50%;
    @media screen and(max-width: $to-desctop-container-width) {
      width: 174px;
      height: 174px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and(min-width: $container-width) {
      width: 243px;
      height: 243px;
    }
  }
}
